In [1]:
# Import Dependencies
import pandas as pd

In [2]:
df1 = "201801-citibike-tripdata.csv"
df2 = "201802-citibike-tripdata.csv"
df3 = "201803-citibike-tripdata.csv"
df4 = "201804-citibike-tripdata.csv"
df5 = "201805-citibike-tripdata.csv"
df6 = "201806-citibike-tripdata.csv"
df7 = "201807-citibike-tripdata.csv"
df8 = "201808-citibike-tripdata.csv"
df9 = "201809-citibike-tripdata.csv"
df10 = "201810-citibike-tripdata.csv"
df11 = "201811-citibike-tripdata.csv"
df12 = "201812-citibike-tripdata.csv"

In [3]:
df1 = pd.read_csv(df1)
df2 = pd.read_csv(df2)
df3 = pd.read_csv(df3)
df4 = pd.read_csv(df4)
df5 = pd.read_csv(df5)
df6 = pd.read_csv(df6)
df7 = pd.read_csv(df7)
df8 = pd.read_csv(df8)
df9 = pd.read_csv(df9)
df10 = pd.read_csv(df10)
df11 = pd.read_csv(df11)
df12 = pd.read_csv(df12)

In [4]:
result = df1.append([df2, df3,df4, df5,df6, df7,df8, df9,df10, df11, df12])

In [5]:
result.count()

tripduration               17548339
starttime                  17548339
stoptime                   17548339
start station id           17545842
start station name         17545842
start station latitude     17548339
start station longitude    17548339
end station id             17545842
end station name           17545842
end station latitude       17548339
end station longitude      17548339
bikeid                     17548339
usertype                   17548339
birth year                 17548339
gender                     17548339
dtype: int64

In [6]:
result= result[:10000000]

In [7]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [8]:
result['StartDates'] = pd.to_datetime(result['starttime']).dt.strftime("%m/%d/%y")
result['StartTime'] = pd.to_datetime(result['starttime']).dt.time
result['StopDates'] = pd.to_datetime(result['stoptime']).dt.strftime("%m/%d/%y")
result['StopTime'] = pd.to_datetime(result['stoptime']).dt.time

In [9]:
result.sort_values(by=['StartDates'])

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDates,StartTime,StopDates,StopTime
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,01/01/18,13:50:57.434000,01/01/18,14:07:08.186000
51438,395,2018-01-01 13:37:53.1250,2018-01-01 13:44:28.3500,249.0,Harrison St & Hudson St,40.718710,-74.009001,195.0,Liberty St & Broadway,40.709056,-74.010434,32556,Subscriber,1992,1,01/01/18,13:37:53.125000,01/01/18,13:44:28.350000
51439,378,2018-01-01 15:43:45.1970,2018-01-01 15:50:03.8390,249.0,Harrison St & Hudson St,40.718710,-74.009001,303.0,Mercer St & Spring St,40.723627,-73.999496,32556,Subscriber,1959,1,01/01/18,15:43:45.197000,01/01/18,15:50:03.839000
51440,357,2018-01-01 17:32:41.3830,2018-01-01 17:38:38.8520,249.0,Harrison St & Hudson St,40.718710,-74.009001,3002.0,South End Ave & Liberty St,40.711512,-74.015756,28034,Subscriber,1987,1,01/01/18,17:32:41.383000,01/01/18,17:38:38.852000
51441,101,2018-01-01 18:51:29.3290,2018-01-01 18:53:11.0490,249.0,Harrison St & Hudson St,40.718710,-74.009001,79.0,Franklin St & W Broadway,40.719116,-74.006667,29755,Subscriber,1954,1,01/01/18,18:51:29.329000,01/01/18,18:53:11.049000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444560,757,2018-08-08 08:13:29.7970,2018-08-08 08:26:07.7480,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,491.0,E 24 St & Park Ave S,40.740964,-73.986022,26710,Subscriber,1995,2,08/08/18,08:13:29.797000,08/08/18,08:26:07.748000
444559,285,2018-08-08 08:13:30.8040,2018-08-08 08:18:16.1370,262.0,Washington Park,40.691782,-73.973730,239.0,Willoughby St & Fleet St,40.691966,-73.981302,14630,Subscriber,1981,1,08/08/18,08:13:30.804000,08/08/18,08:18:16.137000
444558,738,2018-08-08 08:13:27.9830,2018-08-08 08:25:46.7470,330.0,Reade St & Broadway,40.714505,-74.005628,293.0,Lafayette St & E 8 St,40.730207,-73.991026,31275,Subscriber,1975,1,08/08/18,08:13:27.983000,08/08/18,08:25:46.747000
444568,411,2018-08-08 08:13:34.7170,2018-08-08 08:20:26.0000,3147.0,E 85 St & 3 Ave,40.778012,-73.954071,3151.0,E 81 St & York Ave,40.772838,-73.949892,30554,Subscriber,1994,2,08/08/18,08:13:34.717000,08/08/18,08:20:26
462238,1876,2018-08-08 12:40:40.2500,2018-08-08 13:11:56.8660,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,34128,Subscriber,1973,2,08/08/18,12:40:40.250000,08/08/18,13:11:56.866000

In [10]:
result.reset_index(drop=True, inplace=True)

In [11]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDates,StartTime,StopDates,StopTime
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,01/01/18,13:50:57.434000,01/01/18,14:07:08.186000
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1,01/01/18,15:33:30.182000,01/01/18,15:45:33.341000
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,01/01/18,15:39:18.337000,01/01/18,15:47:35.172000
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,01/01/18,15:40:13.372000,01/01/18,15:45:20.191000
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,01/01/18,18:14:51.568000,01/01/18,18:19:57.642000

In [12]:
result.count()

tripduration               10000000
starttime                  10000000
stoptime                   10000000
start station id           10000000
start station name         10000000
start station latitude     10000000
start station longitude    10000000
end station id             10000000
end station name           10000000
end station latitude       10000000
end station longitude      10000000
bikeid                     10000000
usertype                   10000000
birth year                 10000000
gender                     10000000
StartDates                 10000000
StartTime                  10000000
StopDates                  10000000
StopTime                   10000000
dtype: int64

In [13]:
# Export to csv
result.to_csv("merged_data_2018.csv")

In [ ]:
cm1 = "citi_membership_data_Q1.csv"
cm2 = "citi_membership_data_Q2.csv"
cm3 = "citi_membership_data_Q3.csv"
cm4 = "citi_membership_data_Q4.csv"

In [ ]:
cm1 = pd.read_csv(cm1)
cm2 = pd.read_csv(cm2)
cm3 = pd.read_csv(cm3)
cm4 = pd.read_csv(cm4)

In [ ]:
cm1.head()

In [ ]:
members_result = cm1.append([cm2, cm3,cm4])

In [ ]:
members_result.count()

In [ ]:
members_result.to_csv("members_result_2018.csv")